<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sp.Properties.Settings.cn" connectionString="Data Source=YOWANEHAKU\SQLEXPRESS;Initial Catalog=AdventureWorksDW;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>